
<div class="row">
    <div class="col-md-4" style="padding-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div>New Messages!</div>
                    </div>
                </div>
            </div>
            <a href="/Messages/Imessages">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-heading">
            <div class="t_menu">
                <div class="t_gun">
                </div>
                <div class="t_sayi">
                </div>
                <div class="t_tarih">
                </div>
            </div>
        </div>
    </div>
@if ((Session["CurrentUser"] as Users)?.Missions.Code == 1)
{
    <div class="col-md-4" style="padding-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>New Tasks!</div>
                    </div>
                </div>
            </div>
            <a href="/Tasks">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
}

@if ((Session["CurrentUser"] as Users)?.Missions.Code == 2)
{
    <div class="col-md-4" style="padding-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>New Works!</div>
                    </div>
                </div>
            </div>
            <a href="/Works">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
}
</div>

<div class="col-md-12" style="padding-top:40px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div>ANNOUNCEMENTS</div>
                </div>
            </div>
        </div>
            <div class="panel-footer">

                <table class="table">
                    <tr style="color:Highlight">
                        <th for="MyProperty">
                          Date
                        </th>
                        <th for="MyProperty">
                            Announcement
                        </th>
                    </tr >
                     <tr>
                        <td>
                           28 September 2017 - 05:00pm
                        </td>
                        <td>
                            We congratulate all of our employees with the sincerest wishes of the feast.
                        </td>
                     </tr>
                    <tr>
                        <td>
                            01 January 2018 - 09:00am
                        </td>
                        <td>
                            You can save time by performing all banking transactions quickly.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            06 June 2018 - 11:00pm
                        </td>
                        <td>
                            You can perform all your transactions, including follow-up of your investment products.
                        </td>
                    </tr>
               </table>
                </div>
                @if ((Session["CurrentUser"] as Users)?.Missions.Code == 5050)
                {
                 <a href="/Home/Announcements">
                 <span class="pull-left">New Announcement</span>
                 <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                 <div class="clearfix"></div>
                 </a>
                }
        </div>
</div>