@model IEnumerable<Stajprojem.Models.Activities>

@{
    ViewBag.Title = "Activities";
}

<h2>Activities</h2>
@if ((Session["CurrentUser"] as Users)?.Missions.Code == 5050)
{
<p>
    @Html.ActionLink("New Activities", "Create")
</p>
}
<table class="table" >
    <tr style="color:Highlight">
        <th>
            @Html.DisplayNameFor(model => model.Name )
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
@if ((Session["CurrentUser"] as Users)?.Missions.Code == 5050)
{
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
}   </tr>
}

</table>
