@model IEnumerable<Stajprojem.Models.Messages>

<h2>Incoming Messages</h2>

<div class="row" style="margin-top:30px">
    <table class="table">
        <tr>
            <th>
                <label for="MyProperty" style="color:Highlight">Sender Name</label>
            </th>
           
            <th>
                <label for="MyProperty" style="color:Highlight">Send Time</label>
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderUser.Name)
                    @Html.DisplayFor(modelItem => item.SenderUser.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SendTime)
                </td>
                <td>
                    <a href="#" class="view" data-target="/Messages/Details/@item.Id">View</a>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
        <div class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-labelle="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Messages Details</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">

                        <button type="button" style="background-color:#428bca"  class="btn btn-success btn-block" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
